[submodule "refer/DDalphaAMG"]
	path = refer/DDalphaAMG
	url = https://github.com/Gustavroot/DDalphaAMG.git
[submodule "refer/QUDA"]
	path = refer/QUDA
	url = https://github.com/lattice/quda.git
[submodule "refer/MGMLMC_for_mat_with_displ"]
	path = refer/MGMLMC_for_mat_with_displ
	url = https://github.com/Gustavroot/MGMLMC_for_mat_with_displ.git
